html, body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
img {
  height: 250px;
  width: 250px;
}

.banana {
  background-color: yellow;
}

.current {
  color: #16B5A0;
}

.header {
  text-align: center;
}

.home {
  background-color: #006613;
}

.fruit-junk {
  background-color: #181A18;
}

.nav {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.nav li {
  margin: 0 5px;
}

.nav li a {
  text-decoration: none;
}

.not-active {
  color: #000;
}

.paragraph {
  text-align: center;
}
